<h3>Leaderboard</h3>

<table>
  <tr>
    <th> Name </th>
    <th> Score </th>
  </tr>
  {{#leaderboard}}
  <tr>
    <td> {{name}} </td>
    <td> {{score}} </td>
  </tr>
  {{/leaderboard}}
</table>

<hr/>
<a href="/">New game</a>
