<link rel=stylesheet type=text/css href=/css/leaderboard.css?v={{acsstime}}>

<h2>Pontifo</h2>

<div class="Leaderboard">
  <table class="Leaderboard-scores">
    <tr>
      <th colspan="2">Leaderboard</th>
    </tr>
    {{#leaderboard}}
    <tr>
      <td>{{name}}</td>
      <td>{{score}}</td>
    </tr>
    {{/leaderboard}}
  </table>

  <a class="Leaderboard-playAgain button" href="/">Play again</a>
</div>
